.card {
  width: 200px;
  height: 200px;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.25s, box-shadow 0.25s;
  border: 5px solid #ffffff;
  border-radius: 3px;
}
  
.card:hover {
  transform: scale(1.1);
  z-index: 2;
  -webkit-box-shadow: 3px 14px 33px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 14px 33px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 14px 33px 0px rgba(0,0,0,0.5);
}
  